.forgot-password .main .form {
    gap: 2em;
    font-family: "Montserrat", serif;
    font-weight: 400; /* Example weight */
    font-style: normal;
}
.forgot-password .main .form .title {
    font-size: 2.3em;
    font-weight: 600;
    line-height: 1.1em;
}
.forgot-password .main .form .reset-input {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.forgot-password .main .form .reset-input input {
    padding: .4em .7em 1.5em;
    border: none;
    outline: none;
    background-color: #BCCCDC;
    border-radius: .4em;
    font-weight: 500;
    color: black;
}
.forgot-password .main .form .reset-input input::placeholder {
    font-weight: 500;
    color: white;
}
.forgot-password .main .form .buttons .reset-button {
    background-color: #0D92F4;
    font-weight: 500;
    color: white;
    transition: background-color 300ms;
}
.forgot-password .main .form .reset-button:hover {
    background-color: #006BFF;
}
.forgot-password .main .form .buttons .text-center a {
    text-decoration: none;
    font-weight: 500;
    color: #BCCCDC;
    transition: color 300ms;
}
.forgot-password .main .form .buttons .text-center a:hover {
    color: #9AA6B2;
}
