@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');
.home {
  width: 100%;
  height: calc(100vh - 72px);
  margin-top: 72px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home .main-text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-family: "Rowdies", serif;
  font-style: normal;
}
@media screen and (min-width: 1176px) {
  .home {
    background-image: url("../images/home/store-lg.jpg");
  }
}
@media screen and (min-width: 640px) and (max-width: 1175px) {
  .home {
    background-image: url("../images/home/women-clothes.jpg");
  }
}
@media screen and (max-width: 640px) {
  .home {
    margin-top: 56px;
    height: calc(100vh - 56px);
    background-image: url("../images/home/perfumes-sm.jpg");
  }
}
