.shop-page .img-loading-spinner {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    transition: rotate .3s ease;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
@media screen and (max-width: 692px) {
    .shop-page .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
    .shop-page .products li {
        width: auto;
    }
    .shop-page .products li .img-container {
        height: auto;
    }
}
.shop-page ul li {
    transition: transform 400ms;
}
.shop-page ul li:hover {
    transform: scale3d(1.02, 1.02, 1.2);
    z-index: 2;
}